<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<link href="~/css/site.min.css" rel="stylesheet" />

@model Sarepta_WebApplication1.Models.Patients
@{
    <div style="width: 100%; margin-left: 60%">
        @using (Html.BeginForm("MainSareptaSystem", "Home", FormMethod.Post))
        {
            <input type="submit" value="Regresar" class="btn-register" style="background-color:#B45F04; font-size:15px;
                            text-align:center; width: 150px; height:50px; padding:10px  20px 10px 20px; margin-top: 12px;
                            border-radius: 4px; color: white;" />
        }
    </div>

    <h1>Registro de un Nuevo Paciente</h1><br />
    <p>
        A continuacion encontrarà el formulario para el registro de un nuveo paciente con sus respectivos datos, al terminar
        y confirmar que los datos se encuentren bien, proceda a dar click en el boton "Registrar", esto ejecutara el proceso
        de guardado de la informacion en la base de datos.
    </p><br />

    <div class="container">
        @using (Html.BeginForm("Patient", "Patients", FormMethod.Post))
        {
            @Html.Label("Numero de Documento: ")
            @Html.TextBoxFor(model => model.cedula, new { @class = "form-control", @placeholder = "Documento de Identidad", autocomplete = "off" })<br />
            @Html.Label("Nombre Completo: ")
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Nombre Completo", autocomplete = "off" })<br />
            @Html.Label("Numero celular: ")
            @Html.TextBoxFor(model => model.CellphoneNumber, new { @class = "form-control", @placeholder = "Celular", autocomplete = "off" })<br />
            @Html.Label("Fecha de Nacimiento: ")
            @Html.TextBoxFor(model => model.Birthdate, new { @class = "form-control", @placeholder = "Fecha Nacimiento", @id = "datepicker", autocomplete = "off" })<br />
            @Html.Label("Correo Electronico: ")
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "e-mail", autocomplete = "off" })<br />
            @Html.Label("Sexo:")
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Gender))), "Selecione Genero", new { @class = "form-control", @placeholder = "Genero" })<br />
            @Html.Label("Direccion: ")
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Direccion", autocomplete = "off" })<br />
            @Html.Label("Fecha de Registro: ")
            @Html.TextBoxFor(model => model.CreatedAt, new { @class = "form-control", @value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly" })<br />
            @Html.Label("Ciudad de Origen: ")
            @Html.TextBoxFor(model => model.city, new { @class = "form-control", @placeholder = "Ciudad" })<br />

            <input type="submit" value="Registrar" class="btn-register" style="background-color:#B45F04; font-size:15px;
                                    text-align:center; width: 150px; height:50px; padding:10px  20px 10px 20px; margin-top: 12px;
                                    border-radius: 4px; color: white" />
            @Html.ValidationSummary()
        }
    </div>

}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="~/js/datepicker.js"></script>

