@model IEnumerable<Sarepta_WebApplication1.Models.Patients>


<h2>Pacientes de Sarepta</h2>

<div class="StrongBoxInfo">
    <h4 id="ReadMoreButton" style="cursor: pointer">Despliegue el boton para leer las instrucciones.</h4><br>
    <div style="max-width:500px; display: none" id="ReadMoreDiv">

        <b>Consulta de Pacientes</b><br>
        <p>Puede consultar libremente la informacion sobre los pacientes</p><br>

        <b>Seguridad</b><br>
        <p>Seguridad a la hora de guardar y consultar datos</p><br>

    </div>
</div>

<div>
    <table>
        <tbody>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Celular
                </th>
                <th>
                    D. Identidad
                </th>
                <th>
                    Fecha Nacimineto
                </th>
                <th>
                    email
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Ciudad
                </th>
                <th>
                    Fecha Registro
                </th>
            </tr>
            <tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.CellphoneNumber)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.cedula)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Birthdate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.city)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <span class="table-remove glyphicon glyphicon-remove"></span>
                    </td>
                    <td></td>
                </tr>
            }
            </tbody>
        </table>
 </div>





