@model Sarepta_WebApplication1.Models.userAccount

@{
    if (ViewBag.Sessionv != "DraAlma")
    {      
        <script> window.location.href='@Url.Action("Userlogin", "Home")'; </script>        
    }
    else
    {   
        <h2>Aplicacion Sarepta</h2>
        <h3> Bienvenida al sistema Dra. @Html.LabelFor(model => model.FirstName) </h3>

        <div class="container" style="width:40%; margin-top:2%">
            @using (Html.BeginForm("PatientRegister", "Patients", FormMethod.Post))
            {
                <input type="submit" value="Registrar un Paciente Nuevo" class="btn-register" style="background-color:#B45F04; font-size:15px;
                             text-align:center; width: 250px; height:50px; padding:10px  20px 10px 20px; margin-top: 12px;
                             border-radius: 4px; color: white" />
                @Html.ValidationSummary()
            }
        </div>

        <div class="container" style="width:40%; margin-top:2%">
            @using (Html.BeginForm("SareptaProcesses", "Processes", FormMethod.Post))
            {
                <input type="submit" value="Registrar Un Proceso Nuevo" class="btn-register" style="background-color:#B45F04; font-size:15px;
                             text-align:center; width: 250px; height:50px; padding:10px  20px 10px 20px; margin-top: 12px;
                             border-radius: 4px; color: white" />
                @Html.ValidationSummary()
            }
        </div>

        <h4>Dando Click en el boton "Pacientes/procesos" encontrarà el listado de procesos realizados para cada paciente registrado en el sistema</h4>
        <div class="container" style="width:40%; margin-top:2%">
            @using (Html.BeginForm("PatientProcesses", "Home", FormMethod.Post))
            {
                <input type="submit" value="Pacientes/Procesos" class="btn-register" style="background-color:#B45F04; font-size:15px;
                             text-align:center; width: 250px; height:50px; padding:10px  20px 10px 20px; margin-top: 12px;
                             border-radius: 4px; color: white" />
                @Html.ValidationSummary()
            }
        </div>

        <div class="container" style="width:40%; margin-top:2%">
            @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
            {
                <input type="submit" value="Logout" class="btn-register" style="background-color:#B45F04; font-size:15px;
                             text-align:center; width: 250px; height:50px; padding:10px  20px 10px 20px; margin-top: 12px;
                             border-radius: 4px; color: white" />
                @Html.ValidationSummary()
            }
        </div>
    }
}

