<link rel="stylesheet" href="~/css/site.min.css" />
<link href="~/css/creative.min.css" rel="stylesheet">

@model IEnumerable<Sarepta_WebApplication1.Models.Patient_Treatment>


<h2>Paciente y sus Procesos</h2>

<div>
    <table id="tbltreatments">
        <tbody>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Tratamiento
                </th>
            <tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.treatment_Name)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="container" style="width:40%; margin-top:2%">
        @using (Html.BeginForm("MainSareptaSystem", "Home", FormMethod.Post))
        {
            <input type="submit" value="Volver al Menu Principal" class="btn-register" style="background-color:#B45F04; font-size:15px;
                         text-align:center; width: 250px; height:50px; padding:10px  20px 10px 20px; margin-top: 12px;
                         border-radius: 4px; color: white" />
            @Html.ValidationSummary()
        }
    </div>

